/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  html { height: 100%; }

  body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr ;
  }

  .container {
    display: grid;
    
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-column: 2 / 7;
    grid-row: 2 / 6;
    

  }

  .bookcard:first-of-type {
    display: none;
  }

  .bookcard {
    
    color: rgb(11, 37, 37);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;

    
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    
  }

  .headers h3 {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .bookcard p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slot {
    display: flex;
    gap: 10px;
  }

  .delete {
    height: max-content;
  }

  .header {
    background-color: aqua;
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #showDialog {
    width: 50px;
    height: 40px;
  }

  .leftcolumn {
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 2 / 7;
  }

  .rightcolumn {
    background-color: aqua;
    grid-column: 7 / 8;
    grid-row: 2 / 7;
  }